@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Oxygen", sans-serif;
}
